In [1]:
#import libraries 

import pandas as pd 
import numpy as np

In [2]:
#Reading Csv file
data=pd.read_csv('cricinfo.csv')

In [3]:
data.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [4]:
data=data.rename(columns={'Mat':'Matches','Inns':'Innings','NO':'Notouts','HS':'Highest score','BF':'Balls Faced','SR':'Strike Rate'})
data.head()

,Player,Span,Matches,Innings,Notouts,Runs,Highest score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [5]:
#Checking for Null values 

data.isnull().sum()

Player           0
Span             0
Matches          0
Innings          0
Notouts          0
Runs             0
Highest score    0
Ave              0
Balls Faced      0
Strike Rate      0
100              0
50               0
0                0
4s               0
6s               0
dtype: int64

In [6]:
# Checking for Duplicates 

data[data.duplicated()==1]

,Player,Span,Matches,Innings,Notouts,Runs,Highest score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
17,KS Williamson (NZ),2010-2024,99,174,17,8675,251,55.25,16862,51.44,32,33,11,963,24

In [7]:
# We can see that three entries are duplicated 

data[data['Player'].isin(['GA Headley (WI)','GS Sobers (WI)','KS Williamson (NZ)'])]

,Player,Span,Matches,Innings,Notouts,Runs,Highest score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s
2,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
6,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
15,KS Williamson (NZ),2010-2024,99,174,17,8675,251,55.25,16862,51.44,32,33,11,963,24
17,KS Williamson (NZ),2010-2024,99,174,17,8675,251,55.25,16862,51.44,32,33,11,963,24

In [8]:
data=data.drop_duplicates()

In [9]:
data[data['Player'].isin(['GA Headley (WI)','GS Sobers (WI)','KS Williamson (NZ)'])]

,Player,Span,Matches,Innings,Notouts,Runs,Highest score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s
2,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
6,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
15,KS Williamson (NZ),2010-2024,99,174,17,8675,251,55.25,16862,51.44,32,33,11,963,24

In [10]:
# So,We Have Dropped Duplicates

# let's Split Span Column into 2 columns of start ,final year
First_year=data['Span'].str.split(pat='-').str[0]

In [11]:
Final_year=data['Span'].str.split(pat='-').str[1]

In [12]:
data.insert(loc=1,column='First year',value=First_year)

In [13]:
data.insert(loc=2,column='Final year',value=Final_year)

In [14]:
data.head()

,Player,First year,Final year,Span,Matches,Innings,Notouts,Runs,Highest score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928,1948,1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,HC Brook (ENG),2022,2023,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,GA Headley (WI),1930,1954,1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
3,RG Pollock (SA),1963,1970,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
5,H Sutcliffe (ENG),1924,1935,1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6

In [15]:
data=data.drop('Span',axis=1)

In [16]:
# Will Continue rest of prject  tommorow

In [17]:
# Creating a country column


data['Country']=data['Player'].str.split(pat='(').str[1]

In [18]:
data['Country']=data['Country'].str.split(pat=')').str[0]

In [19]:
data['Country']

0         AUS
1         ENG
2          WI
3          SA
5         ENG
6          WI
7         ENG
8          WI
9         ENG
11        AUS
12         SL
13        ENG
14         WI
15         NZ
16     ICC/SA
18        ENG
19         WI
20        IND
21        AUS
22         SA
23        IND
24     ICC/WI
25        PAK
26    ICC/IND
27        PAK
28        PAK
29        AUS
30        AUS
31        ZIM
32         NZ
33        AUS
34         WI
35        IND
36        AUS
37        AUS
38         SA
39        AUS
40         WI
41        ENG
42         SL
43        ENG
44    ICC/PAK
45        AUS
46         WI
47        ENG
48    ICC/IND
49        PAK
50        IND
51        AUS
52         SA
53         SA
54        ENG
55         SL
56        AUS
57        AUS
58     ICC/SA
59        AUS
60        AUS
61        ENG
Name: Country, dtype: object

In [20]:
# Removing the Country from Player Name 

data['Player']=data["Player"].str.split(pat='(').str[0]

In [21]:
data['Player']

0           DG Bradman
1             HC Brook
2           GA Headley
3           RG Pollock
5          H Sutcliffe
6            GS Sobers
7        KF Barrington
8            ED Weekes
9           WR Hammond
11           SPD Smith
12       KC Sangakkara
13            JB Hobbs
14          CL Walcott
15       KS Williamson
16           JH Kallis
18        GE Tyldesley
19            CA Davis
20           VG Kambli
21         GS Chappell
22           AD Nourse
23        SR Tendulkar
24             BC Lara
25       Javed Miandad
26            R Dravid
27     Mohammad Yousuf
28         Younis Khan
29          RT Ponting
30             J Ryder
31            A Flower
32         DJ Mitchell
33          MEK Hussey
34       S Chanderpaul
35         SM Gavaskar
36            SR Waugh
37           ML Hayden
38      AB de Villiers
39           AR Border
40        IVA Richards
41         DCS Compton
42    DPMD Jayawardene
43             JE Root
44      Inzamam-ul-Haq
45       M Labuschagne
46         FMM Worrell
47             CP Mead
48            V Sehwag
49            Abid Ali
50             V Kohli
51           MJ Clarke
52            KC Bland
53          B Mitchell
54      Hon.FS Jackson
55      TT Samaraweera
56           RN Harvey
57          KD Walters
58            GC Smith
59         WH Ponsford
60           SJ McCabe
61          DR Jardine
Name: Player, dtype: object

In [22]:
# Checking the datatypes of all cloumns 

data.dtypes

Player            object
First year        object
Final year        object
Matches            int64
Innings            int64
Notouts            int64
Runs               int64
Highest score     object
Ave              float64
Balls Faced       object
Strike Rate       object
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Country           object
dtype: object

In [23]:
data['First year']=data['First year'].astype('int64')

In [24]:
data['Final year']=data['Final year'].astype('int64')

In [25]:
data.head()

,Player,First year,Final year,Matches,Innings,Notouts,Runs,Highest score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s,Country
0,DG Bradman,1928,1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,AUS
1,HC Brook,2022,2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,ENG
2,GA Headley,1930,1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,WI
3,RG Pollock,1963,1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
5,H Sutcliffe,1924,1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,ENG

In [26]:
def HS(score):
    if '*' in score:
        return int(score[:-1])
    return int(score)

In [31]:
HS('125*')

125

In [30]:
data['Highest score']=data['Highest score'].apply(HS)

In [36]:
data.dtypes

Player            object
First year         int64
Final year         int64
Matches            int64
Innings            int64
Notouts            int64
Runs               int64
Highest score      int64
Ave              float64
Balls Faced       object
Strike Rate       object
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Country           object
dtype: object

In [38]:
# Droping a entry and reseting index
data=data.drop(55,axis=0)
data.reset_index()

,index,Player,First year,Final year,Matches,Innings,Notouts,Runs,Highest score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s,Country
0,0,DG Bradman,1928,1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,AUS
1,1,HC Brook,2022,2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,ENG
2,2,GA Headley,1930,1954,22,40,4,2190,270,60.83,416+,56,10,5,2,104,1,WI
3,3,RG Pollock,1963,1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
4,5,H Sutcliffe,1924,1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,ENG
5,6,GS Sobers,1954,1974,93,160,21,8032,365,57.78,4063+,53.58,26,30,12,593,32,WI
6,7,KF Barrington,1955,1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591,27,ENG
7,8,ED Weekes,1948,1958,48,81,5,4455,207,58.61,-,-,15,19,6,258,2,WI
8,9,WR Hammond,1927,1947,85,140,16,7249,336,58.45,7491+,38.07,22,24,4,419,27,ENG
9,11,SPD Smith,2010,2024,108,193,25,9665,239,57.52,18051,53.54,32,41,10,1060,54,AUS
10,12,KC Sangakkara,2000,2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,SL
11,13,JB Hobbs,1908,1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8,ENG
12,14,CL Walcott,1948,1960,44,74,7,3798,220,56.68,-,-,15,14,1,107,11,WI
13,15,KS Williamson,2010,2024,99,174,17,8675,251,55.25,16862,51.44,32,33,11,963,24,NZ
14,16,JH Kallis,1995,2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,ICC/SA
15,18,GE Tyldesley,1921,1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37,2,ENG
16,19,CA Davis,1968,1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65,1,WI
17,20,VG Kambli,1993,1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,IND
18,21,GS Chappell,1970,1984,87,151,19,7110,247,53.86,13079+,51.53,24,31,12,755,16,AUS
19,22,AD Nourse,1935,1951,34,62,7,2960,231,53.81,108+,63.88,9,14,3,115,6,SA
20,23,SR Tendulkar,1989,2013,200,329,33,15921,248,53.78,29437+,54.04,51,68,14,2058,69,IND
21,24,BC Lara,1990,2006,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,ICC/WI
22,25,Javed Miandad,1976,1993,124,189,21,8832,280,52.57,15164+,45.99,23,43,6,788,48,PAK
23,26,R Dravid,1996,2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,ICC/IND
24,27,Mohammad Yousuf,1998,2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,PAK
25,28,Younis Khan,2000,2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,PAK
26,29,RT Ponting,1995,2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,AUS
27,30,J Ryder,1920,1929,20,32,5,1394,201,51.62,2035+,44.86,3,9,1,102,3,AUS
28,31,A Flower,1992,2002,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,ZIM
29,32,DJ Mitchell,2019,2024,22,35,5,1546,190,51.53,2903,53.25,5,9,1,151,28,NZ
30,33,MEK Hussey,2005,2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,AUS
31,34,S Chanderpaul,1994,2015,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,WI
32,35,SM Gavaskar,1971,1987,125,214,16,10122,236,51.12,14184+,43.35,34,45,12,908,26,IND
33,36,SR Waugh,1985,2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,AUS
34,37,ML Hayden,1994,2009,103,184,14,8625,380,50.73,14349,60.1,30,29,14,1049,82,AUS
35,38,AB de Villiers,2004,2018,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,SA
36,39,AR Border,1978,1994,156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28,AUS
37,40,IVA Richards,1974,1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952,84,WI
38,41,DCS Compton,1937,1957,78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342,3,ENG
39,42,DPMD Jayawardene,1997,2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,SL
40,43,JE Root,2012,2024,139,255,21,11626,254,49.68,20578,56.49,31,60,12,1264,44,ENG
41,44,Inzamam-ul-Haq,1992,2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,ICC/PAK
42,45,M Labuschagne,2018,2024,49,88,7,4018,215,49.60,7654,52.49,11,19,4,450,12,AUS
43,46,FMM Worrell,1948,1963,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240,11,WI
44,47,CP Mead,1911,1928,17,26,2,1185,182,49.37,619+,30.04,4,3,3,38,0,ENG
45,48,V Sehwag,2001,2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,ICC/IND
46,49,Abid Ali,2019,2021,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,PAK
47,50,V Kohli,2011,2024,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,IND
48,51,MJ Clarke,2004,2015,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,AUS
49,52,KC Bland,1961,1966,21,39,5,1669,144,49.08,885+,37.74,3,9,2,123,20,SA
50,53,B Mitchell,1929,1949,42,80,9,3471,189,48.88,158+,29.11,8,21,3,41,1,SA
51,54,Hon.FS Jackson,1893,1905,20,33,4,1415,144,48.79,-,-,5,6,3,51,0,ENG
52,56,RN Harvey,1948,1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427,1,AUS
53,57,KD Walters,1965,1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,AUS
54,58,GC Smith,2002,2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,ICC/SA
55,59,WH Ponsford,1924,1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,AUS
56,60,SJ McCabe,1930,1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,AUS
57,61,DR Jardine,1928,1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,ENG

In [39]:
# Creating a col for CAreer LEngth

data['Career Length']=data['Final year']-data['First year']

In [40]:
#Q1 -> Avg career length
data['Career Length'].mean()

13.431034482758621

In [44]:
#Q2 -> Avg Matches Played of player who played mmore than 10 years

int(data[data['Career Length'] > 10]['Matches'].mean())

102

In [49]:
# Q3 -> No.of players Entered international Before 1989

data[data['First year']<1989].count()['Player']

31